@charset "UTF-8";

/*-----------------------------------
     リセット
------------------------------------*/

h1,h2,h3,h4,p,ul,img,a{
    margin: 0;
    padding: 0;
}

h1,h2,h3,p,a,ul,li{
    color: #333;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: top;
}

/*-----------------------------------
     ベース
------------------------------------*/

.contents_bg{
    width: 920px;
    background:  url(../img/wrap_bg.png) 0 0 repeat-y;
    margin: 0 auto;
}

.contents_inr{
    width: 900px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.link_icon::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 5px;
    background: url(../img/icon.gif) 0 0 no-repeat;
}

/*-----------------------------------
     header
------------------------------------*/


header{
    height: 150px;
    background: url(../img/header_bg.png) 0 0 no-repeat;
}

.logo_area{
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

.breadcrumbs{
    margin-top: 40px;
}

.breadcrumbs li{
    color: #fff;
}

.headea_info{
    float: right;
    margin-top: 20px;
}

.headea_link{
    margin-left: 60px;
}

.headea_link li{
    float: left;
    margin-left: 10px;
}

.headea_link a{
    color: #fff;
    font-size: 12px;
}

.tel{
    margin-top: 12px;
    margin-right: 18px;
}

.headea_link2{
    margin-top: 3 px;
}

.headea_link2 li{
    float: left;
    padding: 0 6px;
    border-right: solid 1px #eeeeee;
}

.headea_link2 a{
    font-size: 12px;
    color: #eeeeee;
}


/*-----------------------------------
     nav
------------------------------------*/

.navigation li{
    float: left;
}

/*-----------------------------------
     main_cont
------------------------------------*/

.main_cont{
    margin: 20px 10px 0;

}

/*-----------------------------------
     left_cont
------------------------------------*/

.left_cont{
    width: 655px;
    float: left;
}

.art_contens{
    margin-top: 5px;
}

.art_contens:first-child{
    margin-top: 10px;
}

.art_cont {
    margin-top: 10px;
}

.column2_item>div{
    float: left;
}

.txt_area{
    width: 415px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn{
    margin-top: 25px;
    text-align: right;
}

.art_toplink{
    margin-top: 20px;
    text-align: right;
}

.art_toplink a{
    color: #0000ff;
}


/*-----------------------------------
    right_cont
------------------------------------*/

.right_cont{
    width: 205px;
    float: left;
    margin-left: 20px;
}

.news{
    margin: 0 10px;
}

.news li{
    margin-top: 10px;
    border-top: solid 1px #ccc;
}

.news li:first-child{
    margin-top: 0;
    border: none;
}

.news li:last-child{
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.news li p{
    margin-top: 12px;
}

.bnr_area{
    margin-top: 20px;
}

.bnr_area li{
    margin-top: 10px;
}

.bnr_area li:first-child{
    margin-top: 0;
}

.page_top_link{
    text-align: right;
    margin-right: 25px;
}

/*-----------------------------------
    footer
------------------------------------*/

.footer_inr{
    height: 190px;
    background: url(../img/footer_bg.png) 0 0 no-repeat;
}

.footer_nav{
    padding: 25px 0 0 25px;
}

.left_footer{
    width: 475px;
    float: left;
}

.menu_list{
    float: left;
    margin-left: 70px;
}

.menu_list:first-child{
    margin-left: 0;
}

.menu_list p{
    color: #fff;
}

.menu_list a{
    color: #fff;
}

.menu_list li{
    margin-top: 5px;
}

.menu_list li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 5px;
    background: url(../img/arrow.gif) 0 0 no-repeat;
}

.footer_nav02{
    margin-top: 20px;
    margin-left: 25px;
}

.footer_nav02 a{
    color: #fff;
}

.footer_nav02 li{
    float: left;
    padding: 0 6px;
    border-left: solid 1px #fff; 
}

.footer_nav02 li:first-child{
    padding-left: 0;
    border-left: none;
}

.right_footer{
    width: 285px;
    float: right;
}

.right_footer{
    margin-top: 40px;
    padding-right: 15px;
}

.right_footer .copyright{
    margin-top: 73px;
    color: #fff;
}